.formGroup{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    width: 100%;
    /* color: black;
    border: none; */
}

.label{
    font-weight: bold;
    margin-bottom: 0.5rem;
    color: black;
    font-size: 15px;
}

.input{
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: rgb(161, 160, 160);
    margin-top: 5px;
}

.error{
    border: 2px solid rgb(255, 11, 11);
}

.errorMsg{
    color: rgb(255, 11, 11);
    font-weight: bold;
    font-size: 13px;
    margin-top: 5px;
}